<div class="container">
<div class="row">
  <div class="col">
    <h1>Add Item</h1>


    <form action="/add_product/create" class="form-inline">
      Name: <input type="text" name="Name" class="form-control"> <br><br>
      Description: <input type="text" name="Description" class="form-control"><br><br>
      Category:
      <select class="form-control" name="catId">
        <option>-----------</option>
        <% @category.each do |i| %>
        <option value='<%= i[0]%>'><%= i[1] %></option>
      </tr>
      <% end %>
    </select><br><br>
    Price: <input type="number" name="Price" class="form-control"><br><br>
    Image URL: <input type="text" name="Image" class="form-control"><br><br><br><br>

    <input type="submit" class="btn btn-success">
  </form>
</div>

<div class="col">
  <h1>Add Category</h1>
  <form class="form-inline" action="/add_product/addCat">
    Category Name: <input class="form-control" name="catname"><br><br>
    <input type="submit" class="btn btn-warning">
  </form>
</div>

</div>
</div>
